@model FareAndDistancesViewModel

@{
    ViewData["Title"] = "Fare and Distance Table";
}

<div class="container-fluid">
    <!-- Page Header -->
    <div class="row mb-2">
        <div class="col-12 page-header">
            <h1 class="page-title">Distance and Fare Table</h1>
            <div class="breadcrumb">
                <span><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Home</a></span><i class="bi bi-chevron-right"></i><span>Fare and Distance</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm p-3">
                <div class="card-body">
                    <!-- Search Form -->
                    <div class="row g-3" style="margin-bottom: 50px">
                        <div class="col-md-4 pe-3">
                            <div class="form-group">
                                <label>From Station</label>
                                <select id="fromStationId" class="form-select my-1">
                                    @foreach (var station in Model.StationList)
                                    {
                                        <option value="@station.Id">@station.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 ps-3">
                            <div class="form-group">
                                <label>To Station</label>
                                <select id="toStationId" class="form-select my-1">
                                    <option value="" selected">< All Stations ></option>
                                    @foreach (var station in Model.StationList)
                                    {
                                        <option value="@station.Id">@station.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <!-- Distance and Fare Table -->
                    <div class="table-container">
                        <table id="data-table">
                            <thead class="thead-light">
                                <tr>
                                    <th>From Station</th>
                                    <th>To Station</th>
                                    <th>Distance (km)</th>
                                    <th>Fare (TK)</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @* <script asp-append-version="true"> *@
    @*     var dataTable = $('#data-table').DataTable({ *@
    @*         processing: true, *@
    @*         serverSide: false, *@
    @*         responsive: true, *@
    @*         dom: 'Bfrtip', *@
    @*         buttons: [ *@
    @*             'copy', 'csv', 'excel', 'pdf', 'print' *@
    @*         ], *@
    @*         columns: [ *@
    @*             { data: 'fromStationName', name: 'fromStationName', orderable: false}, *@
    @*             { data: 'toStationName', name: 'toStationName'}, *@
    @*             { data: 'distance', name: 'distance'}, *@
    @*             { data: 'fare', name: 'fare', orderable: false} *@
    @*         ], *@
    @*         ajax: { *@
    @*             url: '/Admin/FareDistance/GetFareDistanceData', *@
    @*             type: 'POST', *@
    @*             data: function (d) { *@
    @*                 d.fromStationId = $('#fromStationId').val(); *@
    @*                 d.toStationId = $('#toStationId').val(); *@
    @*             } *@
    @*         } *@
    @*     }); *@

    @*     // Search button click event *@
    @*     $('#btnSearch').click(function () { *@
    @*         dataTable.ajax.reload(); *@
    @*     }); *@
    @* </script> *@
}